//Variables
$bs-primary: #D6D46D;
$bs-secondary: #F4DFB6;
$bs-tertiary: #DE8F5F;
$bs-quaternary: #9A4444;
$bs-checked: #B5CB99;
$color-not-to-white: #F0F0F0;
$color-not-to-black: #242526;
$color-black: #000000;
$color-white: #ffffff;
$color-gray: #808080;