//Variables
@import "variables";
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');


/* Global */
* {
  font-family: 'Poppins', 'Patrick Hand SC', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  background-color: $color-not-to-white;
  color: $color-black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
}

/* Navbar */
nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
  font-weight: 600;
}

.a-navbar {
  color: $color-black;
  text-decoration: none;
  text-decoration-color: $color-white;
}

.a-navbar:hover {
  color: $bs-quaternary;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: $bs-quaternary;
}

/* Filters and Buttons */
.btn-action {
  background: none;
  color: $color-white;
  border: 1px solid $color-white;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.btn-action:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-action:active {
  transform: scale(0.9);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btnAddTaskContainer {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 43rem;
}

.btn-submit,
.btn-reset {
  opacity: 1;
  background-color: $bs-tertiary;
  color: $color-white;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: all 0.25s ease-in-out;
}

.btn-modal {
  margin-top: 2rem;
  justify-content: space-around;
}

.btn-submit:hover,
.btn-reset:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-submit:active,
.btn-reset:active {
  transform: scale(0.9);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Table */

table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    border: none;
    border-bottom: $bs-quaternary 4px solid;
  }
  
  th,
  td {
    padding: 1.5rem;
  }
  
  th {
    background-color: $bs-quaternary;
    color: $color-white;
  }
  
  td {
    color: $color-black;
  }
  
  .toDoList {
    width: 500px;
    margin: 0 auto;
  }
  
  .toDoList th {
    text-align: center;
  }
  
  .description {
    width: 100%;
    text-align: justify !important;
  }
  
  .toDoList td {
    text-align: center;
  }
  
  .toDoList input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  .toDoList input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  .toDoList .button {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .toDoList .button:hover {
    background-color: #ccc;
  }
  
  .deletetask-button,
  .edittask-button {
    background: none;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
  }
  
  .deletetask-button:hover,
  .edittask-button:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .deletetask-button:active,
  .edittask-button:active {
    transform: scale(0.9);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .deletetask-button i,
  .edittask-button i {
    font-size: 20px;
  }
  
  /* Modal */
  
  .modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .modalT {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-black;
    background: white;
    padding: 20px;
    border: 1px solid $color-black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    transition: all 0.25s ease-in-out;
  }
  
  .filter-section {
    padding: 1.5rem;
    border: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    border-radius: 3px;
  }
  
  .form-section {
    display: flex;
    width: 50vw;
    background-color: white;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  
  .form-field {
    display: absolute;
    z-index: 1;
    width: 100%;
    min-width: 100%;
    max-height: 60px;
  }
  
  .label-input {
    position: relative;
    top: 15px;
    left: 15px;
    background-color: $color-white;
    color: $color-white;
    font-size: 17px;
    padding: 0 4px;
    transition: 0.5s ease-in-out;
    z-index: 0;
  }
  
  .form-field:focus+.label-input {
    top: -70px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: $color-black;
  }
  
  .form-field:focus::placeholder {
    color: transparent;
  }
  
  .input-container {
    position: relative;
    height: 50px;
    width: 100%;
    margin-bottom: 17px;
  }
  
  input,
  textarea,
  select {
    font-size: 1rem;
    padding: 1rem;
    border: 1px solid #d1dde8;
    border-radius: 3px;
  }
  
  input[type="text"],
  input[type="number"] {
    flex-grow: 1;
    min-width: 200px;
  }
  
  input[type="date"] {
    width: 170px;
    display: flex;
    flex-direction: row;
  }
  
  select {
    flex-grow: 1;
    min-width: 200px;
  }
  
  /* FLEX */
  
  .fx-row {
    display: flex;
    flex-direction: row;
  }
  
  .fx-column {
    display: flex;
    flex-direction: column;
  }
  
  .fx-space-between {
    justify-content: space-between;
  }
  
  
  /* MEDIA QUERIES */
  
  @media (max-width: 768px) {
    main {
      flex-direction: column;
    }
  }
  
  @media (max-width: 576px) {
    .nav-links {
      flex-direction: column;
    }
  }
  
  @media (max-width: 375px) {
    .toDoList {
      width: 100%;
    }
  }
    
